# Copyright © 2023, SAS Institute Inc., Cary, NC, USA.  All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

!dist
/coverage
/test
vite.config.ts
.vscode
.prettierignore
.prettierrc
.eslintignore
.eslintrc
compose.yml
.github
.husky
# docs might be nice to have,
# but it's large and node_modules size grows very quickly
docs
